.App {
  /*  text-align: center; */
  /* background-color: rgba(0,0,0,0.3); */
}
#root{
  width: 100vw;
  overflow-x: hidden;
}
body{
  background-color: rgba(0,0,0,.6)
}
.App-logo {
  height: 80px;
  pointer-events: none;
  margin: 10px;
}
html{
  overflow-x:hidden;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
svg {
  width: 100%;
  height: 100%;
  visibility: hidden;
  
 }
@keyframes App-logo-spin {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}


#bars {
  height: 55%;
  left: 36%;
  /* margin: -30px 0 0 -20px; */
  position: absolute;
  /* top: 50%; */
  width: 100%;
}

.bar {
 background: #E20074;
  bottom: 1px;
  /* height: 900px; */
  position: absolute;
  width: 10px;      
  animation: sound 0ms -600ms linear infinite alternate;
}

@keyframes sound {
  0% {
     opacity: .35;
      height: 3px; 
  }
  100% {
      opacity: 1;       
      height: 100px;        
  }
}

.bar:nth-child(1)  { left: 2px; animation-duration: 474ms; }
.bar:nth-child(2)  { left: 16px; animation-duration: 433ms; }
.bar:nth-child(3)  { left: 31px; animation-duration: 407ms; }
.bar:nth-child(4)  { left: 46px; animation-duration: 458ms; }
.bar:nth-child(5)  { left: 61px; animation-duration: 400ms; }
.bar:nth-child(6)  { left: 76px; animation-duration: 427ms; }
.bar:nth-child(7)  { left: 91px; animation-duration: 441ms; }
.bar:nth-child(8)  { left: 106px; animation-duration: 419ms; }
.bar:nth-child(9)  { left: 121px; animation-duration: 487ms; }
.bar:nth-child(10) { left: 136px; animation-duration: 442ms;}
.bar:nth-child(11)  { left: 151px; animation-duration: 474ms; }
.bar:nth-child(12)  { left: 166px; animation-duration: 433ms; }
.bar:nth-child(13)  { left: 181px; animation-duration: 407ms; }
.bar:nth-child(14)  { left: 196px; animation-duration: 458ms; }
.bar:nth-child(15)  { left: 211px; animation-duration: 400ms; }
.bar:nth-child(16)  { left: 226px; animation-duration: 427ms; }
.bar:nth-child(17)  { left: 241px; animation-duration: 441ms; }
.bar:nth-child(18)  { left: 256px; animation-duration: 419ms; }
.bar:nth-child(19)  { left: 271px; animation-duration: 487ms; }
.bar:nth-child(20) { left: 286px; animation-duration: 442ms;}


.rightMenu {
  /* margin-left: 10%; */
  /* text-align: left;
  justify-content: flex-start; */
/* } */
margin-right: 5%;
width: 100%;
text-align: right
}
.leftMenu {
  margin-right: 5%;
    display: flex;
  width: 200px;
}
.nav-container {
  width: 100vw;
  margin: auto;
  justify-content: space-between;
}

@font-face {
  font-family: Usuzi;
  src: url('./fonts/usuzi.ttf');
  font: size 32px;
}
h8{
  font-family: Usuzi;
}
@keyframes animatedBackground {
  from { translate: scale(0.2); };
  to { translate: scale(0.6) }
}